# Dependencies
node_modules/

# Build output
lib/

# Environment variables
.env
.env.local
.env.*.local

# Firebase
firebase-debug.log
ui-debug.log
.runtimeconfig.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 