rules_version = "2";
service cloud.firestore {
  match /databases/{database}/documents {
    match /panels/{panelId} {
      allow read, write: if true;
    }
  }
} 